:root {
  --gray1: hsl(206, 100%, 99%);
  --gray2: hsl(240, 50%, 95%);
  --gray3: hsl(206, 13%, 72%);
  --gray5: hsl(206, 14%, 60%);
  --gray7: hsl(206, 12%, 16%);
  --gray8: hsl(206, 0%, 14%);
  --gray9: hsl(206, 0%, 11%);

  --background-primary: #fff;
  --accent-primary: mediumseagreen;
  --accent-secondary: deepskyblue;
  --accent-tertiary: mediumpurple;
  --accent-quaternary: mediumvioletred;
  --surface-secondary: var(--gray1);
  --surface-tertiary: var(--gray2);
  --text-primary: var(--gray9);
  --divider: var(--gray3);
}

:root.dark {
  --accent-primary: hsl(147deg, 40%, 40%);
  --accent-secondary: hsl(195, 70%, 50%);
  --accent-tertiary: hsl(260, 57%, 64%);
  --accent-quaternary: hsl(322, 81%, 43%);
  --background-primary: var(--gray9);
  --surface-secondary: var(--gray8);
  --surface-tertiary: var(--gray7);
  --text-primary: var(--gray2);
  --divider: var(--gray3);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 200px;
  color: var(--text-primary);
  background-color: var(--background-primary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  color: var(--text-primary);
  text-decoration: none;
}

a:visited {
  color: var(--text-primary);
}

a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}
